
@{
    ViewData["Title"] = "Onefocus Wallet";

    string scriptPath = System.IO.Path.Combine("Client/wallet/dist/assets/");
    string scriptWildcardPattern = "index-*.js";
    var scriptFiles = Directory.GetFiles(scriptPath, scriptWildcardPattern);

    string styleWildcardPattern = "index-*.css";
    var styleFiles = Directory.GetFiles(scriptPath, styleWildcardPattern);
}

@section StyleSheets {
    @foreach (var styleFile in styleFiles)
    {
        var fileName = System.IO.Path.GetFileName(styleFile);
        <link rel="stylesheet" crossorigin="" href="/wallet/assets/@fileName" />
    }
}

@section Scripts {
    @foreach (var scriptFile in scriptFiles)
    {
        var fileName = System.IO.Path.GetFileName(scriptFile);
        <script type="module" crossorigin="" src="/wallet/assets/@fileName"></script>
    }
}

<div id="root"></div>