@layer reset, theme, base, antd, components, utilities;

@layer utilities {
    .scrollbar-stable {
        scrollbar-gutter: stable;
    }

    .scrollbar-custom::-webkit-scrollbar {
        width: 1rem;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
        background: transparent;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        background-clip: padding-box;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
}

@import "tailwindcss";