@use 'sass:math';
@use 'sass:list';
@use "primeflex/primeflex" as primeflex;
@use "primeicons/primeicons.css";

@mixin of-placement-class($positions, $value-map) {
  @each $position in $positions {
    @each $name, $value in $value-map {
      .#{$position}-#{$name} {
        #{$position}: #{$value};
      }
    }
  }
};
$positions: ('top', 'bottom', 'left', 'right');
$placement-dimensions: (
  '1': 1rem,
  '2': 2rem,
  '3': 3rem,
  '4': 4rem
);
@include of-placement-class($positions, $placement-dimensions);

@mixin of-surface-class($name, $prop, $shades) {
  @each $shade in $shades {
    $i: list.index($shades, $shade);
    .#{$name}-#{$shade} {
      #{$prop}: var(--surface-#{$shade}) !important;

      @media (prefers-color-scheme: dark) {
        .#{$name}-#{$shade} {
          #{$prop}: var(--surface-#{list.nth($shades, 12 - $i)}) !important;
        }
      }
    }
  }
}
@include of-surface-class('of-text', 'color', primeflex.$surfaceShades);

//normalize styles
body {
  margin: 0;
}

:root {
  --p-primary-color: var(--primary-500)
}

.surface-border-color {
  border-color: var(--surface-border);
}

.surface-background-color,
.p-panel-header {
  background-color: var(--primary-50);
}

.p-card-footer,
.p-card-content {
  padding-top: 0;
  padding-bottom: 0;
}

.of-sidemenu {
  color: var(--gray-500);
  border-right: 1px solid var(--surface-border);
}

.of-center-panel-width {
  width: 20rem;
}

.of-w-max {
  max-width: 40rem;
}

.of-currency {
  display: inline-block;
  width: 5ch;
  white-space: nowrap;
}

.pi-spin {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% { transform: rotate(360deg); }
}

.p-editable-column {
  vertical-align: top;
}