$colors: (
    primary,
    success,
    error,
    warning,
    info
);

@each $color in $colors {
    .one-#{$color}-text {
        color: var(--ant-color-#{$color}-text);
    }

    .one-#{$color}-bg {
        background-color: var(--ant-color-#{$color}-bg);
    }
}

.one-layout-bg {
    background-color: var(--ant-color-bg-layout);
}

.one-container-bg {
    background-color: var(--ant-color-bg-container);
}

.ant-table-body {
    overflow-y: auto !important;
    scrollbar-gutter: stable both-edges;
}