@{
    ViewData["Title"] = "Onefocus";
}

@section StyleSheets {
    @if (ViewBag.StyleFiles != null)
    {
        foreach (var styleFile in ViewBag.StyleFiles)
        {
            var fileName = System.IO.Path.GetFileName(styleFile);
            <link rel="stylesheet" crossorigin="" href="/assets/@fileName" />
        }
    }
}

@section Scripts {
    @if (ViewBag.ScriptFiles != null)
    {
        @foreach (var scriptFile in ViewBag.ScriptFiles)
        {
            var fileName = System.IO.Path.GetFileName(scriptFile);
            <script type="module" crossorigin="" src="/assets/@fileName"></script>
        }

    }
}

<div id="root"></div>